<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <span id="quantity"><%= p.quantity %></span></h2>
                            <div>
                                <form action="/decrease-cart" method="post">
                                    <input type="hidden" name="cartId" value="<%=p._id%>">
                                    <input type="hidden" name="productId" value="<%= p.productId._id %>">
                                    <button type="submit"class=" btn decrease">-</button>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                                <form action="/cart" method="post">
                                    <input type="hidden" name="productId" value="<%= p.productId._id %>">
                                    <button class="btn increase" type="submit">+</button>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
                <script>

                </script>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>